
<div class="login-page">
    <div class="container login-card">
        <div class="row">
            <div class="col"></div>
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
                <div class="card bg-body-secondary login-card-wrapper">
                    <h2 class="text-center">Gamma Analytics</h2>
                    <img src="/public/gamma23_logo.png" alt="Gamma23 service logo" class="login-logo">
                    <div class="container text-center credentials-box">
                        <div class="input-group">
                            <input type="text" class="form-control" id="login" placeholder="Username">
                        </div>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <button class="btn btn-primary btn-lg">Login</button>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>