<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamma23 Analytics</title>
    <link rel="shortcut icon" href="/public/gamma23_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/bootstrap-main.css">

    <style>
        .login-page{
            display: grid;
            align-items: center;
            height: 90dvh;
        }
        .login-card{
            margin-top: 40px;
        }
        .login-card .login-card-wrapper{ 
            padding-bottom: 16px;
        }
        .login-card .login-logo{
            width: 232px;
            margin-left: auto;
            margin-right: auto;
        }
        .login-card h2{
            margin-top: 23px;
        }
        .credentials-box input,
        .credentials-box button{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body data-bs-theme="dark">
    <%- include(filename) %>

    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>