<style>
    .top-wrapper{
        display: flex;
    }
    .top-wrapper button{
        margin-left: auto;
    }

</style>

<div class="container">
    <div class="mt-4">
        <div class="top-wrapper">
            <h2>Solutions</h2>
            <button class="btn btn-primary">
                Create new
            </button>
        </div>
    </div>
</div>